body {
  background: black;
  font-family: 'Inconsolata', monospace;
}

* {
  color: #eee;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

#game {
  border: solid #444;
  border-width: 1px 0 0 1px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#game > * {
  border: solid #444;
  border-width: 0 1px 1px 0;
}

#app {
  width: 800px;
  height: 672px;
}

#info {
  flex-grow: 1;
  padding: 16px;
}

#info section > h2 {
  margin: 0 0 1em 0;
  font-size: 1em;
  color: #555;
}

#info section {
  margin: 0 0 1em 0;
}

#info section > div {
  margin-top: 8px;
}

#info .item-list {
  height: 145px;
  overflow-y: auto;
}

.tile-row > * { vertical-align: middle; }

.tile {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.tile-res-1 {
  background-image: url("tileset-32.auto.png");
}

.tile-res-2 {
  background-image: url("tileset-64.auto.png");
  background-size: 320px;
}

.tile-row > .tile {
  margin-right: 10px;
}

@media screen and (max-width: 450px) {
  .container { width: 500px; }
  #app { width: auto; height: 480px; }
  #game { flex-direction: column; }
  h1 { margin: 0; }
}
